<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-demo3></app-demo3>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<h2><app-demo></app-demo></h2>
<h2><app-demo2></app-demo2></h2>
<h3></h3>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<app-child [dataInput]="data"></app-child>
<router-outlet></router-outlet> -->

<!-- <app-child (foodEvent)="getDataFromChild($event)"></app-child>
<div>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
</div> -->

<!-- Assignment
<app-new-child [data]="course"></app-new-child>  -->

<!-- <app-ngif></app-ngif>

<app-ngfor></app-ngfor>
<app-ng-switch-case> </app-ng-switch-case> -->
<!-- <app-demo2></app-demo2>
<app-attribute></app-attribute>
<p>appDirective>hello abhijit is here</p> -->

<!-- <app-simple-form></app-simple-form> -->
<!-- <app-form-task></app-form-task> -->
<!-- <app-reactiveform> </app-reactiveform> -->
<!-- <app-task-templete-form> </app-task-templete-form> -->
<!-- <app-comp1></app-comp1>  -->
<!-- <app-comp2></app-comp2> -->
<!-- <app-service-task1> </app-service-task1> -->
<!-- <app-service-task2> </app-service-task2> -->
<!-- <app-practice></app-practice> -->

<!-- <div class="row">
  <div class="col-md-6">
    <app-comp1></app-comp1>
    <app-comp2></app-comp2>
  </div>
  <div class="col-md-6">
    <app-comp3></app-comp3>
    <app-comp4></app-comp4>
  </div>
</div> -->

<!-- <app-task-reactive-form></app-task-reactive-form> -->
<!-- <app-pipedemo></app-pipedemo> -->
<!-- <app-filterpipe></app-filterpipe> -->
<!-- <app-user></app-user> -->


<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus">AboutUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus">ContactUS</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>