input,select,textarea{
    outline: 0;
    border-width: 0 0 2px;
    border-color: blue;
    width: 400px;
    
}
.phone{
    width: 292px;
}
#word{
    margin-left: 180px;
}
#center{
    text-align: center;
}