
<div class="container mt-3" style="background-color:rgb(167, 215, 218)">
    <div class="row justify-content-center pt-5 pb-5">
        <div class="col-sm-4" style="background-color:white;">
            <h4 class="text-info mt-5">Genelar Information</h4>
            <form>
            <div>
                <input type="text" class="form-control mt-3" id="fname" name="fname"  placeholder="First Name">
                <input type="text" class="form-control mt-3" id="lname" name="lname"  placeholder="last Name">
                <input type="text" class="form-control mt-3" id="position" name="position" placeholder="Position">
                <input type="text" class="form-control mt-3" id="Company" name="Company" placeholder="Company">
                <input type="text" class="form-control mt-3" id="Company" name="Business Arena" placeholder="Business Arena">
            </div>
            </form>
        </div>
        <div class="col-sm-4"  style="background-color:blue; color:white">
            <h4 class="text-light mt-5">Contact Details</h4>
            <form>
            <div>
                <input type="text" class="form-control mt-3" id="street" name="street"  placeholder="Street">
                <input type="text" class="form-control mt-3" id="info" name="info"  placeholder="Additional Information">
                <input type="text" class="form-control mt-3" id="pincode" name="pincode" placeholder="Pin Code">
                <input type="text" class="form-control mt-3" id="place" name="place" placeholder="Place">
                <input type="text" class="form-control mt-3" id="country" name="country" placeholder="Country">
                <input type="text" class="form-control mt-3" id="phoneno" name="phoneno" placeholder="Phone Number">
                <input type="text" class="form-control mt-3" id="email" name="email" placeholder="Your Email">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox mt-3">
                      <label><input type="checkbox" name="remember"> I do accept the Terms and Conditions of your site.</label>
                    </div>
                </div>
                <input type="submit" class="form-control mt-2 mb-5" value="Register Badge" style="border-radius: 10px ;">
            </div>
            </form>
        </div>
    </div>
</div>